*                       @CustomResourceDefinition/core-maintainers @CustomResourceDefinition/github-administrators
.github                 @CustomResourceDefinition/github-administrators
configuration.yaml      @CustomResourceDefinition/core-maintainers @CustomResourceDefinition/github-administrators @CustomResourceDefinition/sources-maintainers
