*                       @CustomResourceDefinition/core-maintainers @CustomResourceDefinition/github-administrators
*.mod *.sum             @CustomResourceDefinition/core-maintainers @CustomResourceDefinition/github-administrators @app/crd-automation
.github                 @CustomResourceDefinition/github-administrators @app/crd-automation
configuration.yaml      @CustomResourceDefinition/core-maintainers @CustomResourceDefinition/github-administrators @CustomResourceDefinition/sources-maintainers
