configuration.yaml      @CustomResourceDefinition/sources-maintainers
*                       @CustomResourceDefinition/core-maintainers
.github                 @CustomResourceDefinition/github-administrators