- description: |
    Dex uses CRD for its internal storage and should only be changed by Dex itself - see https://dexidp.io/docs/configuration/storage/#kubernetes-custom-resource-definitions-crds
  items:
    - group: dex\.coreos\.com
      kind: .*
      version: .*
- description: |
    Strimzi uses CRDs for internal resources and should only be changed by Strimzi itself - see https://strimzi.io/docs/operators/latest/configuring#type-StrimziPodSet-reference
  items:
    - group: kafka\.strimzi\.io
      kind: strimzipodset
      version: .*
- description: |
    Appears to be a "custom" CRD created by GitHub user `avestuk` - see https://github.com/datreeio/CRDs-catalog/pull/151 and https://github.com/open-policy-agent/gatekeeper/issues/2172
  items:
    - group: kafka\.strimzi\.io
      kind: kafkatopiccontrolacls
      version: .*
- description: |
    Appears to be an invalid CRD - see https://github.com/datreeio/CRDs-catalog/blob/ebd3076c9cceda7c017b86d2914c44b04614abc9/postgresql.cnpg.io/cluster_v3.json
  items:
    - group: postgresql\.cnpg\.io
      kind: cluster
      version: v3
- description: |
    Appears to belong to a framework for side-stepping CRDs (in yaml) and thus irrelevant for our validating purposes - see https://docs.pepr.dev/
  items:
    - group: uds\.dev
      kind: .*
      version: .*
- description: |
    Was part of dynamic-localpv-provisioner and appears to be long dead and moved outside of openebs - see https://github.com/openebs-archive/maya/blob/bd98908028afb5e396c78a3eabf769b280707471/pkg/blockdeviceclaim/v1alpha1/blockdeviceclaim.go and https://github.com/openebs-archive
  items:
    - group: openebs\.io
      kind: blockdevice|blockdeviceclaim|diskpool
      version: .*
- description: |
    Is not intented to be used - see https://github.com/kluctl/template-controller/pull/95
  items:
    - group: templates\.kluctl\.io
      kind: objecthandler
      version: .*
- description: |
    Deprecated since 2021 - see https://github.com/kubernetes-retired/cluster-api-provider-docker
  items:
    - group: infrastructure.cluster.x-k8s.io
      kind: dockermachine
      version: .*
    - group: infrastructure.cluster.x-k8s.io
      kind: dockercluster
      version: .*
    - group: infrastructure.cluster.x-k8s.io
      kind: dockermachinetemplate
      version: .*
- description: |
    Appears to be an CRD that does not exist (yet) - see https://github.com/linkerd/linkerd2/tree/0f5145118b59190cce1998bdb3a1396a0f270599/controller/gen/apis/policy and https://github.com/datreeio/CRDs-catalog/pull/425
  items:
    - group: policy\.linkerd\.io
      kind: httproute
      version: v1
- description: |
    Incorrectly named when imported - this is actually from https://github.com/mysql/mysql-operator - https://github.com/mysql/mysql-operator/blob/d478c51e56b903df410fc9ac37ef13f0e4178c07/helm/mysql-operator/crds/crd.yaml#L8
  items:
    - group: mysql\.presslabs\.org
      kind: mysqlbackup
      version: v2
- description: |
    Following the file changes in the repo back to 2018 where it has never been a v1alpha1 - see https://github.com/datreeio/CRDs-catalog/pull/194 and https://github.com/FairwindsOps/rbac-manager/commits/82087c24a311e3bb356d2a366639fb2732b37ba0/hack/install.yaml?browsing_rename_history=true&new_path=deploy/2_crd.yaml&original_branch=ad2dc70da588163a87ea6c11d674af37f76c3690
  items:
    - group: rbacmanager\.reactiveops\.io
      kind: rbacdefinitions
      version: v1alpha1
- description: |
    Searching on google for `"anywhere.eks.amazonaws.com/v1alpha1"` vs with v1beta1 and v1alpha* suffixes indicates that they do not exist - official api reference does not list version, see https://docs.aws.amazon.com/eks/latest/APIReference/API_Cluster.html
  items:
    - group: anywhere\.eks\.amazonaws\.com
      kind: .*cluster.*|.*docker.*
      version: .*
- description: |
    This version does not exist and the file is an empty json object - see https://github.com/datreeio/CRDs-catalog/blob/140576024c96581b3340faba54a3adab7dd13aff/dynatrace.com/dynakube_v1alpha5.json
  items:
    - group: dynatrace\.com
      kind: dynakube
      version: v1alpha5
- description: |
    This version does not exist and the file is an exact copy of v1beta1 - see https://github.com/datreeio/CRDs-catalog/blob/140576024c96581b3340faba54a3adab7dd13aff/getambassador.io/ratelimit_v1beta1.json and https://github.com/datreeio/CRDs-catalog/blob/140576024c96581b3340faba54a3adab7dd13aff/getambassador.io/ratelimit_v1beta2.json
  items:
    - group: getambassador\.io
      kind: ratelimit
      version: v1beta2
- description: |
    This version predates the OCI helm repository from 2023 and the file does not contain much of anything - see https://github.com/datreeio/CRDs-catalog/blob/140576024c96581b3340faba54a3adab7dd13aff/grafana.integreatly.org/grafana_v1alpha1.json
  items:
    - group: grafana\.integreatly\.org
      kind: grafana
      version: v1alpha1
- description: |
    This is not a published CRD, but a test CRD test that talos uses in a unit tests to ensure they can parse various parts of the kubernetes API - see https://github.com/siderolabs/talos/blob/54b93aff0c372761dfe9621a782a347b6877c2e9/internal/app/machined/pkg/controllers/k8s/internal/k8stemplates/k8stemplates_test.go#L164 and https://github.com/datreeio/CRDs-catalog/pull/656#issue-3434816660
  items:
    - group: talos\.dev
      kind: serviceaccount
      version: v1alpha1
- description: |
    Somehow this file was placed in the keda.sh directory instead of the eventing.keda.sh directory
  items:
    - group: keda\.sh
      kind: cloudeventsource
      version: v1alpha1
- description: |
    Somehow these files was placed in the kyverno.io directory instead of the reports.kyverno.io directory - see https://github.com/datreeio/CRDs-catalog/pull/407
  items:
    - group: kyverno\.io
      kind: clusterephemeralreport|ephemeralreport
      version: v1
- description: |
    Somehow these files was placed in the kyverno.io directory instead of the wgpolicyk8s.io directory - see https://github.com/datreeio/CRDs-catalog/pull/407
  items:
    - group: kyverno\.io
      kind: clusterpolicyreport|policyreport
      version: v1alpha2
- description: |
    Somehow these files was placed in the policies.kyverno.io directory instead of the kyverno.io directory - see https://github.com/datreeio/CRDs-catalog/pull/407
  items:
    - group: policies\.kyverno\.io
      kind: policyexception
      version: v2|v2beta1
