services:
  registry:
    image: registry:2
    ports:
      - 8085:5000
  nginx:
    image: nginxinc/nginx-unprivileged:alpine-slim
    volumes:
      - ./build/ephemeral/repository/http:/usr/share/nginx/html:ro
    ports:
      - 8088:8080
  # --- test tools ---
  editorconfig:
    image: mstruebing/editorconfig-checker
    volumes:
      - .:/workspace:ro
    working_dir: /workspace
  checkmake:
    image: mrtazz/checkmake
    volumes:
      - ./Makefile:/Makefile:ro
      - ./make.d:/make.d:ro
