volumes:
  nginx-content:

services:
  registry:
    image: registry:2
  nginx:
    image: nginxinc/nginx-unprivileged:alpine-slim
    volumes:
      - nginx-content:/usr/share/nginx/html:ro
  # --- test tools ---
  editorconfig:
    image: mstruebing/editorconfig-checker
    volumes:
      - .:/workspace:ro
    working_dir: /workspace
  checkmake:
    image: mrtazz/checkmake
    volumes:
      - ./Makefile:/Makefile:ro
      - ./make.d:/make.d:ro
