---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (devel)
  name: addondeploymentconfigs.addon.open-cluster-management.io
spec:
  group: addon.open-cluster-management.io
  names:
    kind: AddOnDeploymentConfig
    listKind: AddOnDeploymentConfigList
    plural: addondeploymentconfigs
    singular: addondeploymentconfig
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              agentInstallNamespace:
                default: open-cluster-management-agent-addon
                maxLength: 63
                pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?)?$
                type: string
              customizedVariables:
                items:
                  properties:
                    name:
                      maxLength: 255
                      pattern: ^[a-zA-Z_][_a-zA-Z0-9]*$
                      type: string
                    value:
                      maxLength: 1024
                      type: string
                  required:
                  - name
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - name
                x-kubernetes-list-type: map
              nodePlacement:
                properties:
                  nodeSelector:
                    additionalProperties:
                      type: string
                    type: object
                  tolerations:
                    items:
                      properties:
                        effect:
                          type: string
                        key:
                          type: string
                        operator:
                          type: string
                        tolerationSeconds:
                          format: int64
                          type: integer
                        value:
                          type: string
                      type: object
                    type: array
                type: object
              proxyConfig:
                properties:
                  caBundle:
                    format: byte
                    type: string
                  httpProxy:
                    type: string
                  httpsProxy:
                    type: string
                  noProxy:
                    type: string
                type: object
              registries:
                items:
                  properties:
                    mirror:
                      type: string
                    source:
                      type: string
                  required:
                  - mirror
                  type: object
                type: array
              resourceRequirements:
                items:
                  properties:
                    containerID:
                      pattern: ^(deployments|daemonsets|statefulsets|replicasets|jobs|cronjobs|pods|\*):.+:.+$
                      type: string
                    resources:
                      properties:
                        claims:
                          items:
                            properties:
                              name:
                                type: string
                              request:
                                type: string
                            required:
                            - name
                            type: object
                          type: array
                          x-kubernetes-list-map-keys:
                          - name
                          x-kubernetes-list-type: map
                        limits:
                          additionalProperties:
                            anyOf:
                            - type: integer
                            - type: string
                            pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                            x-kubernetes-int-or-string: true
                          type: object
                        requests:
                          additionalProperties:
                            anyOf:
                            - type: integer
                            - type: string
                            pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                            x-kubernetes-int-or-string: true
                          type: object
                      type: object
                  required:
                  - containerID
                  - resources
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - containerID
                x-kubernetes-list-type: map
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
