---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (devel)
  name: tridentconfigurators.trident.netapp.io
spec:
  group: trident.netapp.io
  names:
    kind: TridentConfigurator
    listKind: TridentConfiguratorList
    plural: tridentconfigurators
    singular: tridentconfigurator
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            type: object
          status:
            properties:
              backendNames:
                items:
                  type: string
                type: array
              cloudProvider:
                type: string
              deletionPolicy:
                type: string
              lastOperationStatus:
                type: string
              message:
                type: string
              phase:
                type: string
            required:
            - backendNames
            - cloudProvider
            - deletionPolicy
            - lastOperationStatus
            - message
            - phase
            type: object
        required:
        - spec
        - status
        type: object
    served: true
    storage: true
