name: Scheduled Jobs

on:
  schedule:
    - cron: "0 */8 * * *"
  push:
    branches:
      - main
    paths-ignore:
      - schema/**
      - definitions/**
      - docs/COMPARISON.md
  workflow_dispatch:
    inputs:
      reset:
        description: Space-separated paths to remove from schema before running an update
        default: ""
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update-schemas:
    name: Update schemas
    runs-on: ubuntu-latest
    if: github.repository == 'CustomResourceDefinition/catalog' || github.event_name == 'workflow_dispatch'
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v5
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY_SCHEDULED_JOBS }}

      - name: Optionally remove paths
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.reset != ''
        run: |
          cd schema
          rm -rf ${{ github.event.inputs.reset }}

      - run: make update
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REF: ${{ github.ref }}

      - uses: actions/checkout@v5
        with:
          repository: datreeio/CRDs-catalog
          path: build/remote/datreeio

      - run: make comparison
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REF: ${{ github.ref }}

      - uses: EndBug/add-and-commit@v9
        name: Publish changes
        if: github.repository == 'CustomResourceDefinition/catalog' && github.ref == 'refs/heads/main'
        with:
          add: |
            - schema
            - definitions
            - docs/COMPARISON.md
          default_author: github_actions

  report-failures:
    name: Report failures
    runs-on: ubuntu-latest
    needs:
      - update-schemas
      - sync-tags
    if: failure() && github.event_name != 'workflow_dispatch'
    permissions:
      contents: read
      issues: write
    steps:
      - uses: actions/checkout@v5

      - name: Report build failure
        uses: CodeReaper/create-issue-action@v1
        with:
          title: ${{ github.workflow }} failed
          assignees: CodeReaper
          body: See the [log](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}) for more details.
          comment: Latest failed runs [log](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}).

  sync-tags:
    name: Synchronize tags with kubernetes
    runs-on: ubuntu-latest
    needs: update-schemas
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY_SCHEDULED_JOBS }}

      - uses: actions/checkout@v5
        with:
          repository: kubernetes/kubernetes
          path: build/remote/kubernetes
          fetch-depth: 0

      - run: make tags

      - run: git push --tags
