name: Scheduled Jobs

on:
  schedule:
    - cron: "0 */8 * * *"
  push:
    branches:
      - main
    paths-ignore:
      - schema/**
      - definitions/**
      - docs/COMPARISON.md
  workflow_dispatch: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  configuration-chunks:
    name: Split configuration
    if: github.repository == 'CustomResourceDefinition/catalog' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: |
            build
            configuration.yaml
            Makefile
            make.d

      - run: make config-chunks
        env:
          CHUNK_SIZE: 100

      - run: mv build/configuration_*.yml .

      - run: |
          {
            printf "matrix="
            echo configuration*.yml | tr ' ' "\n" | jq -Rsc 'split("\n")[:-1]'
          } | tee -a $GITHUB_OUTPUT
        id: matrix

      - uses: actions/upload-artifact@v5
        with:
          name: configurations
          path: configuration_*.yml
          retention-days: 1

  update:
    name: Create patch files
    needs: configuration-chunks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        file: ${{ fromJSON(needs.configuration-chunks.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Setup Golang cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - run: make update
        env:
          CONFIGURATION: ${{ matrix.file }}

      - run: git diff schema definitions | tee ${{ matrix.file }}.patch

      - uses: actions/upload-artifact@v5
        with:
          path: ${{ matrix.file }}.patch
          retention-days: 1

  commit:
    name: Update files
    needs: update
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY_SCHEDULED_JOBS }}

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Setup Golang cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - uses: actions/checkout@v6
        with:
          repository: datreeio/CRDs-catalog
          path: build/remote/datreeio

      - uses: actions/download-artifact@v6
        with:
          merge-multiple: true

      - run: git apply --allow-empty *.patch

      - run: make comparison

      - if: github.ref != 'refs/heads/main'
        run: git diff --stat

      - uses: EndBug/add-and-commit@v9
        name: Publish changes
        if: github.repository == 'CustomResourceDefinition/catalog' && github.ref == 'refs/heads/main'
        with:
          add: |
            - schema
            - definitions
            - docs/COMPARISON.md
          default_author: github_actions

  report-failures:
    name: Report failures
    runs-on: ubuntu-latest
    needs:
      - commit
      - sync-tags
    if: failure() && github.event_name != 'workflow_dispatch'
    permissions:
      contents: read
      issues: write
    steps:
      - uses: actions/checkout@v6

      - name: Report build failure
        uses: CodeReaper/create-issue-action@v1
        with:
          title: ${{ github.workflow }} failed
          assignees: CodeReaper
          body: See the [log](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}) for more details.
          comment: Latest failed runs [log](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}).

  sync-tags:
    name: Synchronize tags with kubernetes
    runs-on: ubuntu-latest
    needs: commit
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY_SCHEDULED_JOBS }}
          fetch-depth: 0

      - uses: actions/checkout@v6
        with:
          repository: kubernetes/kubernetes
          path: build/remote/kubernetes
          fetch-depth: 0

      - run: make tags

      - run: git push --tags
