name: Tests

on:
  workflow_dispatch: {}
  pull_request:
    branches:
      - main

jobs:
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: make ci-test

  editorconfig-check:
    name: Editorconfig check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: editorconfig-checker/action-editorconfig-checker@main
      - run: editorconfig-checker

  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ludeeus/action-shellcheck@master

  dependabot-validate:
    name: Validate dependabot
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: pipx install check-jsonschema
        shell: bash
      - run: curl -o schema.json 'https://json.schemastore.org/dependabot-2.0.json'
        shell: bash
      - run: check-jsonschema --schemafile schema.json .github/dependabot.yml
        shell: bash

  tests-succeeded:
    name: Tests Succeeded
    needs:
      - unit-tests
      - shellcheck
      - editorconfig-check
      - dependabot-validate

    runs-on: ubuntu-latest
    steps:
      - name: All clear
        run: exit 0
