name: Tests

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Tests Succeeded
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: make test

  auto-merge:
    name: Automatically merge dependabot PRs
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Create token
        if: github.actor == 'dependabot[bot]' && github.event_name == 'pull_request'
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.AUTOMATION_APP_ID }}
          private-key: ${{ secrets.AUTOMATION_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: catalog
      - name: Merge PR
        if: github.actor == 'dependabot[bot]' && github.event_name == 'pull_request'
        run: gh pr merge --admin --squash "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
