name: Tests

on:
  workflow_dispatch: {}
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Tests Succeeded
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: make test
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REF: ${{ github.ref }}
